/* wwwroot/css/site.css */

/* Отступ между карточками */
.post-card {
    margin-bottom: 20px;
}

    /* Ограничиваем медиа внутри карточки */
    .post-card img,
    .post-card video {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    /* Кнопка "Источник" */
    .post-card .source-link {
        margin-top: 10px;
        display: inline-block;
    }
